#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DATADIR="/usr/share/pisg"

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build-arch: configure-stamp
build-indep: configure-stamp
build: build-stamp
build-stamp: build-arch build-indep
	dh_testdir
	docbook2man docs/pisg.sgml --output docs
	mv -f docs/PISG.1 docs/pisg.1
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f docs/manpage.refs docs/manpage.links docs/pisg.1
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_install
	find debian/pisg$(DATADIR) -type f -exec chmod 644 {} \;
	perl -pi \
		-e "s[(langfile =>) '.*',][\$$1 => '$(DATADIR)/lang.txt',];" \
		-e "s[(cssdir =>) '.*',][\$$1 => '$(DATADIR)/layout/',]" \
		debian/pisg/usr/share/perl5/Pisg.pm

# Build architecture-dependent files here.
binary-arch: build install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	find debian/pisg/usr/share/doc/pisg/examples -type f -exec chmod 644 {} \;
	dh_installman
	dh_installchangelogs docs/Changelog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build-arch build-indep clean binary-indep binary-arch binary install configure
